---
import Layout from '../layouts/Layout.astro';
import Forma from '../components/Forma.astro';
import BitrixForm from '../components/BitrixForm.jsx';
import Footer from '../components/Footer.jsx';

---

<Layout title="Verdemar">
	<Forma body="VENTA DE LOTES CAMPESTRES"/>
	<section class=" flex">
		<div class="relative w-full h-[250px] bg-cover bg-center" style=" background-image: url('../ESCALADAS_ALTOS_DEL_MAR/s2.png');">
		
			<!-- Degradado sobre la imagen -->
			<div class="absolute inset-0 bg-gradient-to-r" style="background-image: linear-gradient(to right, #5ea32b 50%, transparent 100%);">	
			</div>

			<!-- Contenido central -->
			<div class="absolute inset-0 flex items-center justify-between px-4">
				<!-- Botón centrado -->
				<div class="absolute inset-x-0 sm:inset-x-1/2 transform translate-y-0 w-[3/4] text-white sm:w-1/2 md:w-1/3 pr-2 flex justify-end sm:justify-center">
					<a href="#form-section">
						<button 
							class="bg-[#C27D52] shadow-lg shadow-[#C27D52]/50 px-4 sm:px-8 md:px-12 py-2 sm:py-4 bg-[#856239] text-xs sm:text-lg md:text-2xl font-semibold rounded-lg hover:bg-green-600 transition duration-300 border-4 border-white flex items-center justify-center whitespace-nowrap scale-100 sm:scale-150"
							style="transform: translateX(0) translateY(67px);">
							QUIERO MI LOTE
						</button>
					</a>
				</div>
				<!-- Bloque de información (a la izquierda) -->
				<div class="flex-1 p-4 bg-cover bg-center">
					<img src="../ESCALADAS_ALTOS_DEL_MAR/Ubicacion2.png" alt="Ubicación" class="w-2/3 sm:w-1/3 md:w-1/4 lg:w-1/4 xl:w-1/4 ">
				</div>	
			</div>    
		</div>
  	</section>

	  <section class="map-section">
		<div class="map-container">
		  <iframe
		  class=""
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4868.554264505079!2d-74.6045852972067!3d4.521195205576594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f3f214364df69%3A0x73471c5fb53d99f2!2sCondominio%20Verde%20Mar!5e0!3m2!1ses!2sco!4v1733432356146!5m2!1ses!2sco"
			style="border: 0;"
			allowfullscreen=""
			loading="lazy"
			referrerpolicy="no-referrer-when-downgrade"
		  ></iframe>
		</div>
	  </section>
	  

	<section>
		<div class="bg-cover bg-center">
			<img src="../ESCALADAS_ALTOS_DEL_MAR/section4.png" alt="Sección 4" class="imagen">
		</div>
	</section>

	<section class="flex bg-cover bg-center bg-no-repeat ">
 	 <!-- Div con imagen de fondo -->
	  <div class="w-[50%] rounded-lg bg-cover bg-right pl-2 overflow-hidden group">
		<div class=" h-[90%]">
			<img
			  class="image-ellos object-cover"
			  src="../ESCALADAS_ALTOS_DEL_MAR/section5.png"
			  alt="Imagen"
			/>
		  </div>
			<!-- Imagen adicional o contenido opcional -->
		
			<div class=" bg-gradient-to-r from-[#856239] to-[#a17c54]" style="transform: translateY(-200%);border-radius: 0px 15px 15px 0px;height: 10px;">
			</div>
		</div>		

		<!-- Div con contenido textual -->
		<div class="pl-[3%] object-cover rounded-lg w-2/3" >
			<div class="flex items-center">
				<div class="text-container w-1/2 justify-between ">
				  <h2 class="text-[#5ca229] pt-4" style="font-size: 4vw; line-height: 100%; word-wrap: break-word;">
					ELLOS LO HICIERON <strong>PRIMERO</strong>
				  </h2>
				  <p class="mt-2 text-[12px] text-[#8F8191] pb-2">
					Historias de éxito en la preventa de Altos del Mar.
				  </p>
				</div>
				<div class="image-container w-1/2 flex justify-end">
				  <img src="../ESCALADAS_ALTOS_DEL_MAR/planta.png" alt="Planta" class="max-h-[15%]">
				</div>
			  </div>
			<div class="video-horizontal2">
				<iframe
					id="video"
					style="width: 100%; height: 100%;"
					src="https://www.youtube.com/embed/FolmJyfM7c8"
				></iframe>
			</div>
			<p class="mt-4 text-[3vw] text-[#5ca229]" style="text-align: center; line-height: 1.5;">
				¡ECHA UN VISTAZO A TU <br><strong>FUTURO HOGAR</strong>!
			  </p>
		</div>
	</section>

	<section class="bg-cover bg-center bg-no-repeat" style="background-image: url('../ESCALADAS_ALTOS_DEL_MAR/playa.png');">
		 
		<div class="grid grid-cols-5 gap-4 p-[2%] h-64 sm:h-[24rem] md:h-[600px]">
			<div class="relative group overflow-hidden transform transition duration-300" style="perspective: 1000px;">
			  <div class="relative w-full h-full transform group-hover:scale-110 group-hover:rotate-3 transition duration-300">
				<img src="../ESCALADAS_ALTOS_DEL_MAR/6.png" alt="Imagen 1" class="w-full h-[90%] object-cover">
			  </div>
			</div>
			<div class="relative group overflow-hidden transform transition duration-300" style="perspective: 1000px;">
			  <div class="relative w-full h-full transform group-hover:scale-110 group-hover:rotate-3 transition duration-300">
				<img src="../ESCALADAS_ALTOS_DEL_MAR/1.png" alt="Imagen 2" class="w-full h-[90%] object-cover">
			  </div>
			</div>
			<div class="relative group overflow-hidden transform transition duration-300" style="perspective: 1000px;">
			  <div class="relative w-full h-full transform group-hover:scale-110 group-hover:rotate-3 transition duration-300">
				<img src="../ESCALADAS_ALTOS_DEL_MAR/2.png" alt="Imagen 3" class="w-full h-[90%] object-cover">
			  </div>
			</div>
			<div class="relative group overflow-hidden transform transition duration-300" style="perspective: 1000px;">
			  <div class="relative w-full h-full transform group-hover:scale-110 group-hover:rotate-3 transition duration-300">
				<img src="../ESCALADAS_ALTOS_DEL_MAR/3.png" alt="Imagen 4" class="w-full h-[90%] object-cover">
			  </div>
			</div>
			<div class="relative group overflow-hidden transform transition duration-300" style="perspective: 1000px;">
			  <div class="relative w-full h-full transform group-hover:scale-110 group-hover:rotate-3 transition duration-300">
				<img src="../ESCALADAS_ALTOS_DEL_MAR/4.png" alt="Imagen 5" class="w-full h-[90%] object-cover">
			  </div>
			</div>
		</div>
		<div class="w-[50%] h-64 flex flex-col justify-center  items-center pt-6 pl-3"> <!-- -->
			<div class="relative w-full" style="z-index: 1;">
				<!-- Título -->
				<h2 class="text-[#022f29] pl-[108px]  tamaño-letra">
					<strong>
						PRECIOS DE LANZAMIENTO, CUPOS LIMITADOS
					</strong>
				</h2>
				<!-- Botón -->
				<div class="absolute inset-x-1/2 flex justify-center reserva"> <!--w-[1/a] sm:w-1/6 md:w-1/30 -->
					<a href="#form-section">
					<button class="bg-[#C27D52] shadow-lg shadow-[#C27D52]/50 px-4 sm:px-7 py-2 bg-[#93c05c] text-white text-xs sm:text-2xl font-semibold rounded-md hover:bg-green-600 transition duration-300 border-2 border-white flex items-center justify-center whitespace-nowrap"
						style="height: 100%;">
						RESERVA TU LOTE HOY
					</button></a>
				</div>
			</div>

				<!-- Video -->
			<div class="mt-4 video-container2">
				<iframe style="width: 100%; height: 100%;" src="https://www.youtube.com/embed/_ITqPmhshRw"
				frameborder="0"></iframe>
			</div>
		</div>
		<div class="flex iconos">				
			<img src="../ESCALADAS_ALTOS_DEL_MAR/iconos.png" alt="">
		</div>
	</section>
	<div class="flex flex-col items-center justify-center text-[#a17c54]">
		<div>
			<img class="planta2" src="/ESCALADAS_ALTOS_DEL_MAR/planta2.png" alt="">
			<h2 class="tamaño-letra2">VIVE LA EXPERIENCIA</h2>
			<h2 class="tamaño-letra3 font-extrabold">POBLADO</h2>
		</div>
		<div>
			<h2 class="tamaño-letra4">
				Conviértete en un cliente Poblado y disfruta de nuestros beneficios complementarios
			</h2>
		</div>
		<div class="mt-[-8.75vw]">
			<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="2"
			stroke="currentColor"
			class="w-6 h-[9.25vw] animate-bounce"
			>
			<!-- Línea recta -->
			<path stroke-linecap="round" stroke-linejoin="round" d="M12 -40v90" />
			<!-- Flecha hacia abajo -->
			<path stroke-linecap="round" stroke-linejoin="round" d="M19 53l-7 7-7-7" />
			</svg>
		</div>
	</div>
	<div class="flex">				
		<img src="../ESCALADAS_ALTOS_DEL_MAR/servicios.jpg" alt="">
	</div>
	<div id="form-section">
		<BitrixForm client:load />
	</div>
	<div>
		<Footer />
	</div>
</Layout>

<style>
	.planta2{
		position: absolute;
		width: 37%;
		transform: translate(-159%, -34%);
	}
	.image-ellos{
		padding-left: 0%;
		width: 100%;
		height: 90%;
	}
		/* Estilo general de la sección */
	.map-section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	}

	/* Contenedor con aspect ratio */
	.map-container {
	width: 100%;
	position: relative;
	padding-top: 29.25%; /* Esto es un aspecto 16:9 (altura/anchura) */
	max-height: 100vh; /* Limita la altura máxima al 100% del viewport */
	}

	/* Estilo para el iframe */
	.map-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}

	.reserva{
		transform: translate(-30%, 441%);
	}
	.iconos{
		margin-top: 10%;
	}
	.tamaño-letra{
		font-size: 3.5vw;
		text-align: center;
		left: 50%; /* Ajusta horizontalmente al 50% del contenedor */
		transform: translate(-12%,83%);
	}
	.tamaño-letra2{
		font-size: 3.5vw;
		text-align: center;
		transform: translate(-57%,83%);
	}
	.tamaño-letra3{
		font-size: 3.5vw;
		text-align: center;
		transform: translate(-33%,83%);
	}
	.tamaño-letra4{
		font-size: 1.5vw;
		text-align: center;
		transform: translate(66%, -80%); 
    	width: 75%;
		font-weight: bold;
	}
	.video-container2 {
		width: 100%; 
		height: auto; 
		aspect-ratio: 16/9;
		transform: translate(94%, -13%);
	}
	.video-container {
		width: 60%; 
		height: auto; 
		aspect-ratio: 9/16; 
		overflow: hidden;
		transform: translate(37%);
	}
	.video-horizontal2{
		width: 90%;
		height: auto;
		aspect-ratio: 16 / 9;
		transform: translate(4%, 0%);
	}
	.flex {
  		display: flex; /* Activa Flexbox */
	}

	.items-center {
	align-items: center; /* Centra los elementos verticalmente */
	}	

	.justify-between {
	justify-content: space-between; /* Espacia los elementos uniformemente */
	}

	.text-container {
	text-align: left; /* Alinea el texto a la izquierda */
	}

	.image-container img {
	max-width: 100%; /* Ajusta la imagen al tamaño disponible */
	height: auto; /* Mantiene proporciones */
	object-fit: contain; /* Evita distorsión */
	}

	.testimonio{
		padding-left: 5%;
	}

	.section1{
		height: 150%;	
	}
	.imagen {
	width: 100%; /* La imagen ocupa el ancho completo del contenedor */
	height: auto; /* Mantiene las proporciones originales */
	object-fit: cover; /* Asegura que la imagen se recorte si es necesario */
	}


	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	.b24-form-wrapper {
  width: 100%; /* Ocupa todo el ancho disponible */
  max-width: 500px; /* Máximo ancho para evitar que se estire demasiado */
  margin: 0 auto; /* Centrar el formulario horizontalmente */
  aspect-ratio: 16 / 9; /* Mantiene la proporción del formulario */
  overflow: hidden; /* Esconde contenido extra si es necesario */
}

/* RESPONSIVIDAD */
@media (max-width: 980px) { /* Tablets */
	.reserva{
		transform: translate(-30%, 350%);
	}
  }
@media (max-width: 840px) { /* Tablets */
	.reserva{
		transform: translate(-30%, 348%);
	}
  }
  @media (max-width: 771px) { /* Tablets */
	.reserva{
		transform: translate(-30%, 270%);
	}
  }
  @media (max-width: 639px) { /* Tablets */
	.reserva{
		transform: translate(-30%, 410%);
	}
  }
  
@media (max-width: 500px) { /* Tablets */
    .tamaño-letra{
		font-size: 4vw;
		text-align: left;
		transform: translate(-34%,56%);
	}
	.video-container2 {
		width: 100%; 
		height: auto; 
		aspect-ratio: 16/9;
		transform: translate(94%, -19%);
	}
	.reserva{
		transform: translate(-30%, 264%);
	}
  }
  
  @media (max-width: 400px) { /* Tablets */
    .tamaño-letra{
		font-size: 4vw;
		text-align: left;
		transform: translate(-55%,56%);
	}
  }

</style>


