---
import Layout from '../layouts/Layout.astro';
import Gracias from '../components/Gracias.astro';
---

<Layout title="Thanks you">
    <Gracias body="Gracias"/>
	<body>
		<slot /> 
	</body>
</Layout>